
*.o
*.a
*.so
*.exe
*.out
*.dll
*.dylib
*.obj
*.pdb
*.idb
*.lib
*.exp

cmake-build-*/


.idea/
*.iml

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user


*.user
*.swp
*.swo


*.dSYM/


.DS_Store


Thumbs.db